@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=NTR&family=Roboto:wght@300&display=swap');

:root {
  --clr-1: rgb(15, 15, 15);
  --clr-2: rgb(217, 247, 255);

  --ui-h: 38px;
}

html, body {
  padding: 0;
  margin: 0;
  background-color: var(--clr-1);
  color: var(--clr-2);
  font-family: 'Roboto', sans-serif;
}

* {
  box-sizing: border-box;
}

a {
  color: rgb(181, 255, 111);
}
a:hover {
  transition: .2s;
}

h2 {
  margin-top: 40px;
}

blockquote {
  display: block;
  margin: 0;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 10px;
  padding-left: 20px;
  color: rgb(255, 64, 182);
  background-color: rgba(255, 64, 182, .06);
  border-left: 4px solid currentColor;
}

blockquote > p {
  padding: 0;
  margin: 0;
}

code {
  padding: 4px;
  background-color: rgba(0, 0, 0, .4);
  color: rgb(197, 255, 255);
}

code[class] {
  display: block;
  padding: 20px;
  overflow: auto;
}

code .hl {
  color: rgb(138, 136, 255);
}

nav {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  padding: 40px;
  z-index: 10000;
}

nav > .inner {
  display: grid;
}

nav a {
  --bkt-opacity: 0;
  display: flex;
  align-items: center;
  color: var(--clr-2);
  text-decoration: none;
  height: var(--ui-h);
  padding-left: 1em;
  padding-right: 1em;
}

nav a::before {
  content: '[';
  margin-right: .4em;
  opacity: var(--bkt-opacity);
  color: rgb(255, 64, 182);
  transition: .5s;
}
nav a::after {
  content: ']';
  margin-left: .4em;
  opacity: var(--bkt-opacity);
  color: rgb(255, 64, 182);
  transition: .5s;
}

nav a:hover {
  --bkt-opacity: 1;
}
 
.vid {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 80vh;
  font-family: 'NTR', sans-serif;
  transform: translateY(100px);
  pointer-events: none;
}

md-section {
  display: flex;
  justify-content: center;
  padding-left: 40px;
  padding-right: 40px;
}

md-section > .wrapper {
  
  margin-bottom: 20px;
  width: 100%;
  max-width: 960px;
  min-height: 100vh;
  background-color: rgba(255, 255, 255, .05);
}

md-section .md {
  padding: 40px;
}

md-section .heading {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 1em;
  background-color: rgba(255, 255, 255, .08);
  filter: grayscale(1);
}

md-section .heading svg {
  margin-right: 10px;
}

