@import url('https://fonts.googleapis.com/css2?family=NTR&family=Roboto:wght@300&display=swap');

:root {
  --clr-1: rgb(15, 15, 15);
  --clr-2: rgb(217, 247, 255);
  --clr-3: rgb(255, 64, 182);

  --ui-h: 40px;

  --side-padding: 40px;
  --nav-width: 240px;

  --blur: 8px;
}

html, body {
  padding: 0;
  margin: 0;
  background-color: var(--clr-1);
  color: var(--clr-2);
  font-family: 'Roboto', sans-serif;
}

* {
  box-sizing: border-box;
}

a {
  color: rgb(181, 255, 111);
}
a:hover {
  transition: .2s;
}

h2 {
  margin-top: 40px;
  color:rgb(136, 255, 182);
}

h3 {
  margin-top: 40px;
  color:rgb(255, 64, 182);
}

blockquote {
  display: block;
  margin: 0;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 10px;
  padding-left: 20px;
  color: var(--clr-3);
  background-color: rgba(255, 64, 182, .06);
  border-left: 4px solid currentColor;
}

blockquote > p {
  padding: 0;
  margin: 0;
}

code {
  padding: 4px;
  background-color: rgba(0, 0, 0, .4);
  color: rgb(172, 205, 255);
}

code[class] {
  display: block;
  padding: 20px;
  overflow: auto;
}

code .hl {
  color: rgb(255, 136, 152);
}
code .comment {
  color: rgb(247, 255, 136);
  font-style: italic;
}
code .extend {
  color: rgb(136, 201, 255);
}
code .base {
  color: rgb(136, 255, 182);
}
code .class {
  color: rgb(255, 199, 136);
}

app-shell {
  position: relative;
  display: block;
  height: 100vh;
  overflow: auto;
}

nav {
  position: fixed;
  display: flex;
  align-items: center;
  top: 0;
  height: 100vh;
  z-index: 10000;
  transition: .3s;
  padding-right: var(--ui-h);
  backdrop-filter: blur(var(--blur));
  -webkit-backdrop-filter: blur(var(--blur));
  outline: none;
}

nav > .inner {
  display: grid;
}

nav a {
  --bkt-opacity: 0;
  display: flex;
  align-items: center;
  color: var(--clr-2);
  text-decoration: none;
  height: var(--ui-h);
  padding-left: 2em;
  padding-right: 1em;
}

nav a::before {
  content: '[';
  margin-right: .4em;
  opacity: var(--bkt-opacity);
  color: var(--clr-3);
  transition: .5s;
}
nav a::after {
  content: ']';
  margin-left: .4em;
  opacity: var(--bkt-opacity);
  color: var(--clr-3);
  transition: .5s;
}

nav a:hover {
  --bkt-opacity: 1;
}
 
.vid {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-height: 100%;
  width: 100vw;
  max-width: 100%;
  padding: 40px;
  pointer-events: none;
  overflow: hidden;
}
.vid > svg {
  height: 60vh;
  width: 60vh;
}

md-section {
  display: flex;
  justify-content: center;
  padding-left: var(--side-padding);
  padding-right: var(--side-padding);
}


md-section a {
  word-wrap: break-word;
}

md-section > .wrapper {
  
  margin-bottom: 20px;
  width: 100%;
  max-width: 960px;
  min-height: 100vh;
  background-color: rgba(255, 255, 255, .05);
}

md-section .md {
  padding: 40px;
}

md-section .heading {
  display: flex;
  align-items: center;
  padding: 1em;
  background-color: rgba(255, 255, 255, .08);
  filter: grayscale(1);
  overflow: hidden;
}

md-section .heading svg {
  margin-right: 10px;
}

@media screen and (max-width: 1300px) {
  md-section {
    display: flex;
    justify-content: center;
    padding-right: 10px;
  }

  nav {
    background-color: rgba(0, 0, 0, .2);
    transform: translateX(calc(-100% + 40px));
  }
  nav::after {
    position: absolute;
    content: '☰';
    top: calc(50% - 20px);
    right: 0;
    width: var(--ui-h);
    transition: .2s;
    display: flex;
    justify-content: center;
    color: var(--clr-3);
    cursor: pointer;
  }
  nav:focus-within {
    transform: none;
  }
  nav:focus-within::after {
    opacity: 0;
  }
  md-section .md {
    padding: 20px;
  }
}

